@font-face {
    font-family: 'Dosis';
    src: url(fonts/dosis/Dosis-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url(fonts/dosis/Dosis-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url(fonts/dosis/Dosis-Book.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url(fonts/dosis/Dosis-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url(fonts/dosis/Dosis-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url(fonts/dosis/Dosis-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url(fonts/dosis/Dosis-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Lihataja';
    src: url(fonts/Lihataja-Brush-fixed.ttf);
}